html, body{
    height: 100%;
}
body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    font-size: 100%;
    overflow-x: hidden;
}
*{
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
h1,h2{
    color:#FFF;
    font-weight: bold;
}
h2{
    font-size:10pt;
    color:#D6D6D6;
    padding: 0px 5.3% 0px 5.3%;
    margin-top: 12px;
}
h1{
    font-size:20pt;
    padding: 0px 70px 0px 70px;
    margin-top:37px;
    margin-bottom:50px;
    font-family: sans-serif;
}
.headerFooter > .col-md-4 > a{
    text-decoration:none; 
}
.input-group .input-group-addon, div > form > .input-group > .input-group-addon > img{
    padding: 0px;
    border-radius: 4px;
    font-size: 14pt;
}
#topo{
    background-color: #021f54;
    min-height: 36px;
}
#topo div:last-child{
    text-align: right;
    font-size: 11pt;
    padding-right:30px;
    padding-top: 10px;
    padding-bottom:10px;
}
#topo h2 form{
    margin-top:5px;
}
.carrinhoButton{
    background-image: url("#{resource['/img/carrinhoButton.png']}");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
}
/*botao de comprar*/
.tamanhoButton{
    width: 50%;
    height: 50px;
    margin-bottom: 20px;
}
/* Parte da Header */
.headerFooter{
    background-image: url("#{resource['/img/fundoTopo.jpg']}");
}
.headerFooter .input-group {
    padding: 0px;
    margin-top:40px;
    margin-bottom: 10px;
}
.headerFooter .input-group .form-control{
    font-size:14pt;
}
.headerFooter > .col-md-4:last-of-type  img{
    width: 60px;
    height: 60px;
    margin-top:5px;
    margin-bottom:10px;
}
.headerFooter > .col-md-4:last-of-type{
    text-align: center;
    padding-top: 10px;
    padding-bottom:10px;
    color:#FFF;
    font-size:14pt;
}
.headerFooter > .col-md-4:last-of-type label{
    margin-left:20px;
    margin-top:30px;
}
/*Parte da Footer */
.alinhamentoFooter{
    padding-bottom: 75px;
}
.container-fluid{
    position: relative;
    min-height: 100%;
}
.headerFooter:last-child{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.headerFooter > .col-md-12{
    margin-top:30px;
    margin-bottom:30px; 
}
.headerFooter > .col-md-12 > p{
    text-align: center;
    color:#FFF;
    font-size: 10pt;
}
#listaAndCarrinho .col-md-4, #pagination{
    text-align: center;
    font-size: 14pt;
}
#listaAndCarrinho{
    background-color: #3d8af7;
    min-height: 38px;
}
.glyphicon-chevron-right{
    content: url("#{resource['/img/next.png']}");
}
.glyphicon-chevron-left{
    content: url("#{resource['/img/back.png']}");
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .thumbnail a > img, .thumbnail > img {
    display: block;
    width: 100%;
    height: auto;
}
.img-responsive{
    display:inline;
}
.col-md-12, #banner{
    padding: 0px;
    margin-bottom:40px;
}
.produtos{
    text-align: center;
    font-size:12pt;
    color:#5B8594;
    font-weight: bold;
}
.produtos img{
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-top:10px;
}
.produtos p:nth-child(2){
    height: 50px;
    color:#000;
    font-size:14pt;
}
.produtos p:nth-child(3){
    font-size:16pt;
}
.produtos p:nth-child(4){
    height: 20px;
    padding: 0 10% 0 10%;
    font-size:11pt;
}
.col-md-4 > h3{
    color: #021F54;
    padding-bottom: 10px;
}
.alinhamentoFooter > .col-md-4 > p{   
    font-size: 13pt;
    padding-bottom: 10px;
}
.alinhamentoFooter > .col-md-4{
    margin: 0px 20px;
}
.alinhamentoFooter .col-md-4, .alinhamentoFooter .col-md-3{
    margin-top: 20px;
}
.detalhesProduto {
    background-color: #EBEBEB;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
}
.detalhesProduto p:first-child{
    font-size: 14pt;
    color: #0844A4;
    padding: 20px 5px 5px 5px;
    padding-bottom: 0px;
}
.detalhesProduto p:not(first-child){
    font-size: 12pt;
}
.detalhesProduto p, .detalhesProduto label, .detalhesProduto select, .detalhesProduto .btn{
    position: relative;
    left:10px;
    padding-bottom: 10px;
}
hr {
    border-width:2px;	
    border-style:solid;
    border-color: #E6E6E6;
}
.detalhesProduto > form > label:not(.radio-inline){
    font-size: 14px;
    font-style: normal;
    padding: 5px;
}
.detalhesProduto > form > input{
    text-align: center;
    width: 45px;
    height: 27px;
    margin-left: 10px;
    font-size: 10pt;
}
.btn-primary {
    background-color: rgb(117, 169, 249);
    margin-bottom: 15px;
}
.botoes{
    padding-left:50px;
    height:20px;
    background:red;
}
.carousel-control.left, .carousel-control.right{
    background-image: none;
}
.content{
    min-height: 300px;
}
.alinharFooter > .col-md-2 > form > .col-md-12 {
    font-size: 11pt;
}
.alinharFooter > .col-md-2 {
    margin: 60px 0px;
}
.alinharFooter > .col-md-2 .col-md-12 label{
    display:block;
}
.alinharFooter > .col-md-2 .col-md-12 input{
    margin-right: 10px;
}
.alinharFooter .btn-default.active{
    width: 30px;
    height: 30px;
    font-size: 8pt;
    padding:7px;
}
.carrinho h2{
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    height: 30px;
    color:#7d7d7d;
    padding-top:5px;
    text-align: center;
}
.carrinho .col-md-12 .col-md-4 {
    margin:0px;
}
.carrinho > .col-md-12 > .col-md-4 > p{
    position:relative;
    bottom:10px;
}
.carrinho img, .carrinho p{
    display:inline;
    margin-bottom: 10px;
    margin-top:10px;
}
.carrinho .col-md-2, .carrinho > form  > .col-md-12 > .col-md-2 > input, .carrinho > form > .col-md-12 > .col-md-4 > .col-md-6 {
    font-size:12pt;
    text-align: center;
}
.carrinho div{
    padding:0px;
}
.carrinho div:first-child{
    padding-left:10px;
}
.carrinho div:last-child{
    padding-right:10px;
}
.carrinho .total{
    text-align: right;
    padding-right: 100px;
    padding-bottom:10px;
    padding-top:10px;
    font-size:11pt;
}
.carrinho .total input{
    width:100px;
}
.carrinho .col-md-12 .col-md-6{
    text-align: center;
}
.carrinho .col-md-12 .col-md-6 a{
    margin-bottom: 20px;
    text-align: center;
}
.carrinho .col-md-12 .col-md-6 img{
    width: 100px;
    height: 100px;
}
.carrinho .col-md-12 div{
    text-align: center;
}
.crudProdutoCliente h2{
    text-align: center;
    font-size:20pt;
}
.autenticar{
    text-align: center;
    margin: 20px;
}
.autenticar > form > div > div label{
    display: block;
    margin-bottom: 10px;
    margin-top:20px;
    font-size:10pt;
}
.autenticar > form > div > div input{
    width: 200px;
    height: 30px;
    font-size:10.5pt;
}
#datatableProduto img{
    height: 100px;
    width: 100px;
}
#addProduto{
    margin-right:10px;
    text-align: right;
    margin-top:10px;
}
/*--------MODAL BOOTSTRAP-------------*/
.modal-body{
    font-size:11pt;
    text-align: center;
}
.modal-content {
    padding:50px;
}
.modal-title{
    text-align: center;
}
/*-----------------------------------*/

#cadastro{
    margin:15px 20% 115px 20%;
    font-size:10pt;
}
#cadastro div{
    text-align: center;
}
#cadastro > form > div > label,#cadastro > div > table{
    display: block;
}
#cadastro form table tr td label {
    margin-right:10px;
    margin-left:10px;
    margin-top:5px;
}
#cadastro > form > div{
    padding:0;
}
#cadastro > form > div:nth-of-type(2){
    margin: 0 12% 0 12%;
}
#cadastro form label{
    margin-top:10px;
}
#cadastro form .btn-primary{
    margin-top:15px;
}
#cadastro .estados{
    width:180px
}
#menuAdmin{
    text-align: center;
    font-size:18pt;

}
#menuAdmin a{
    display: block;
    margin-bottom: 60px;
    margin-top:70px;
}
#sexo{
    margin-left:38%;
    margin-right: 50%;
}
.autenticar span{
    font-size:14pt;
}
#crudProduto{
    margin-left:5%;
    margin-right:5%;   
}
#crudProduto .botaoEditar, #crudProduto .botaoDeletar{
    margin: 10px 0px 20px 0;
    height: 25px;
    width: 25px;
}
#crudProduto .botaoEditar{
    margin-right:10px;
    margin-left:5px;
}
#botoesCrud{
    text-align: center; 
}
.ui-datatable-reflow .ui-datatable-data td {
        font-size:10pt;
    }
@media all and (max-width: 991px) {
    .detalhesProduto, #detalhesProduto2{
        width: 240px;
        margin-left: 50%;
    }
    .carrinho div:first-child{
        padding-left:0px;
    }
    .carrinho div:last-child{
        padding-right:0px;
    }
    #cadastro{
        text-align: center;
        margin:30px 40% 100px 40%;
    }
    #cadastro form table tr td label{
        margin-top:0;
    }
    #cadastro > form > div:nth-of-type(2){
        margin:0;
    }
    #crudProduto .botaoEditar, #crudProduto .botaoDeletar{
        height: 20px;
        width: 20px;
        display: block;
    }
}
@media all and (min-width: 500px) and (max-width: 994px) {
    .alinharFooter > .col-md-2{
        margin-left: 35%;
    }
    hr{
        border-width:0px;
    }
    .carrinho hr{
        border-width:2px;	
        border-style:solid;
        border-color: #E6E6E6;
    }
    #sexo{
        margin-left:0;
        margin-right: 0;
    }
    #crudProduto{
        margin-left:1%;
        margin-right:1%;   
    }
    #crudProduto img{
        width: 120px;
        height: 100px;
    }
    .botaoEditar{
        display: block;
        margin-bottom: 20px;
    }
}
@media all and (max-width: 499px){
    .detalhesProduto, #detalhesProduto2{
        width: 240px;
        margin-left: 0;
    }   
    .alinharFooter > .col-md-2{
        margin-left: 40px;
    }
    #cadastro{
        text-align: center;
        margin:30px 20% 100px 20%;
        font-size:8pt;
    }
    #cadastro .estados{
        width:155px
    }
    #sexo{
        margin-left:0;
        margin-right: 0;
    }   
}
/* --------BEGIN--------------------- */
/* --------MENU RESPONSIVO---------- */
@media all and (max-width: 994px) {     
    .pagina {
        overflow: hidden;
        padding: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    .menu {
        height: auto;
    }
    .menu .js {
        display: none;
    }
    .menu .js li {
        border: 0 none !important; float: none; max-width: none; width: auto;
    }
    .menu .js > li a {
        padding: 5px;
    }
    .menu .js li ul {
        display: block; margin-bottom: 10px; opacity: 1; position: inherit; visibility: visible;
    }
    .menu .js li ul li a {
        border: 0 none; font-size: 0.8em; margin-left: 5px; padding: 5px;
    }
    #listaAndCarrinho div img{
        height: 30px; width:80px;
    }
    #listaAndCarrinho div.col-md-2{
        float: right;
    }
    .carrinho  form .col-md-12 div{
        text-align: center;
    }
}
@media all and (min-width: 995px) {
    .pagina {
        margin: 0 auto;
    }
    .menu .atalho {
        display: none;
    }
    .menu ul > li {
        width: 15.1%;
    }
    #listaAndCarrinho div nav ul li  {
        float:right;
    }
    #listaAndCarrinho div nav{
        margin-right:110px;
    }
}
.atalho {
    font-size: 16pt;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    padding: 2px 5px;
    margin-bottom: 5px;
}
.menu {
    display: block;
    font-size: 12pt;
}
.menu ul  {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000
}
.menu ul > li {
    border-color: #3d8af7;
    border-style: solid;
    border-width: 1px 1px 0 0;
    float: left;
    position: relative;
    max-width: 19%
}
.menu ul > li li {
    border: 0px;
}
.menu ul > li a {
    background-color: #3d8af7;
    color: #d6d6d6;
    display: block;
    font-weight: bold;
    padding-top: 8px;
    text-decoration: none;
    position: relative;
}
.menu ul > li a:hover {
    color: #333;
}
.menu ul > li li a {
    background-color: #FFF;
}
.menu ul > li ul {
    background-color: #FFF;
    display: none;
    position: absolute;
    visibility: hidden;
    vertical-align: middle;
    padding: 0;
    opacity: 0;
    min-width: 100%;
    filter: alpha(opacity=0)
}
.menu ul > li:hover ul {
    display: block;
    visibility: visible;
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.menu ul > li li {
    border-width: 0 1px;
    float: none;
    left: -1px;
    margin: 0;
    position: relative;
    white-space: nowrap;
    width: auto;
    min-width: 100%;
}
.menu ul > li li a {
    color: #8B8B8B;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}
/* --------END---------------------- */
/* --------MENU RESPONSIVO---------- */
